@{
    ViewBag.Title = "Search Page";
}

<h2>Search page</h2>
@using (Html.BeginForm("Results", "Search", FormMethod.Post))
{
    <p>Enter a search term:
    </p>
    <p>@Html.TextBox("target")
    </p>
    <p><input type="submit" value="Search" /></p>
}
